@using ModelLayer.Models
@model ModelLayer.Models.ViewModels.HomePageViewModel
@{
    ViewData["Title"] = "خانه";
    IEnumerable<Movies> newMovies = Model.NewMovies;
    IEnumerable<Movies> popularMovies = Model.PopularMovies;
    IEnumerable<Movies> leastScoreMovies = Model.LeastScores;
}

@section Styles{
    <link href="~/css/home.css" rel="stylesheet" />
}

<main>

    <!-- New Movies -->
    <section>
        <h2>فیلم‌های جدید</h2>

        @foreach (Movies movie in newMovies)
        {
            <div class="movies">
                <div class="movie-card">
                    <img src="~/Images/@movie.Image" alt="x">
                    <h3>@movie.Name - @movie.ReleaseYear</h3>
                    <p>امتیاز: @movie.IMDBscore از 10</p>
                    <a href="/Movies/@movie.Slug/@movie.Id">مشاهده</a>                                        
                </div>
            </div>
        }
    </section>

    <!-- Popular Movies -->
    <section>
        <h2>فیلم‌های محبوب</h2>

        @foreach (Movies movie in popularMovies)
        {
            <div class="movies">
                <div class="movie-card">
                    <img src="~/Images/@movie.Image" alt="x">
                    <h3>@movie.Name - @movie.ReleaseYear</h3>
                    <p>امتیاز: @movie.IMDBscore از 10</p>
                    <a href="/Movies/@movie.Slug/@movie.Id">مشاهده</a>
                </div>
            </div>
        }
    </section>

    <!-- Lowest Score Movies -->
    <section>
        <h2>کم امتیازترین (افتضاح ترین) فیلم‌ها</h2>

        @foreach (Movies movie in leastScoreMovies)
        {
            <div class="movies">
                <div class="movie-card">
                    <img src="~/Images/@movie.Image" alt="x">
                    <h3>@movie.Name - @movie.ReleaseYear</h3>
                    <p>امتیاز: @movie.IMDBscore از 10</p>
                    <a href="/Movies/@movie.Slug/@movie.Id">مشاهده</a>
                </div>
            </div>
        }
        
    </section>

</main>